.landingPage {
  background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
  height: 75vh;
  width: 100%;
  background-position: center;
  margin-bottom: 30px;
}

.landingPage-body-title {
  padding-top: 3%;
  padding-bottom: 30px;
  padding-left: 28%;
  padding-right: 28%;
}

.landingPage-body-title > h1 {
  text-align: center;
  color: #fff;
  font-size: 4em;
}

.landingPage-body-text > h4 {
  text-align: center;
  color: white;
  font-size: 1.4em;
  font-weight: 300;
}

.landingPage-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
.landingPage-button > Button {
  background-color: #ef4f5f;
  color: #fff;
  padding: 15px 50px;
}

.landingPage-button > Button:hover {
  background-color: #f05f6d;
}
