.review {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 5%;
}

.review-row > h4 {
  color: #ef4f5f;
}
.review-row > h1 {
  font-size: 2.5em;
  font-weight: 700;
}
.review-row > p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
}
.review-row {
  line-height: 1.5;
}

.feedback {
  width: 42%;
}

.first > .color-card {
  height: 250px;
}

.color-card {
  background-color: #2e2f3d;
  box-shadow: 0px 5px 30px 0px #121227;
  border-radius: 5px 5px 5px 5px;
  padding: 45px;
  background-color: #f3495a;
  background-repeat: no-repeat;
  height: 430px;
  width: 35%;
}

.color-card > p,
.review-name > span {
  color: rgba(229, 234, 255, 0.7);
}
.color-card > p {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 10px;
  font-size: 18px;
}

.review-name {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.review-name > span > strong {
  color: #fff;
}
.color-card-image > img {
  width: 75px;
  height: 80px;
  border-radius: 50%;
}

.color-card-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 25px;
}
