.star-rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 50px;
}
.on {
  color: #ff9529;
}
.off {
  color: #ccc;
}
