.workPage > h2 {
  font-size: 45px;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #ef4f5f;
  text-align: center;
  padding-bottom: 10px;
}

.workPage > p {
  font-weight: 400;
  color: #212121;
  font-size: 18px;
  text-align: center;
}
.workPage-heading {
  padding-top: 70px;
  padding-bottom: 50px;
}
.workPage {
  padding: 0 28%;
  padding-bottom: 70px;
  padding-top: 5%;
}
.workPage-heading > h2 {
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 10px;
  font-size: 35px;
  color: #ef4f5f;
}
.workPage-heading > p {
  text-align: center;
  padding-bottom: 10px;
  font-size: 18px;
}
.email-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.email-container > button {
  padding: 15px 40px;
  background-color: #ef4f5f;
}
.email-container > button:hover {
  background-color: #ef4f5f;
}
.workPage-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 60px 5%;
}

.workPage-row-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 2;
  width: 30%;
}
.workPage-row-container > img {
  width: 60%;
  height: 60%;
}
.workPage-row-container > h3 {
  color: #ef4f5f;
}
.workPage-row-container > p {
  font-size: 14px;
}
.image-second{
  padding-bottom: 9%;
}
